// Background colors
$bg-color: #FF9B00;
$fg-color: white;

// Text colors
$text-color: #363636;
$link-color: #2291DA;
$logo-color: #4CAF0E;
$header-color: #363636;
$footer-color: #FFFFFF;
$legal-color: #525252;
$post-title-color: #363636;
$post-meta-color: #2291DA;
$post-meta-link-color: #2291DA;
$post-date-month-color: #999999;
$post-date-day-color: #5C5C5C;
$archive-date-color: #999999;
$archive-post-color: #000013;

// Code colors
$code-border-color: #D5D5D5;
$code-bg-color: #EBEBEB;
$code-text-color: #414141;