// Background colors
$bg-color: #FF8D00;
$fg-color: white;

// Text colors
$text-color: #000013;
$link-color: #FF0000;
$logo-color: #3C00FF;
$header-color: #000013;
$footer-color: #FFFFFF;
$legal-color: #525252;
$post-title-color: #000013;
$post-meta-color: #FF0000;
$post-meta-link-color: #FF0000;
$post-date-month-color: #999999;
$post-date-day-color: #5C5C5C;
$archive-date-color: #999999;
$archive-post-color: #000013;

// Code colors
$code-border-color: #D5D5D5;
$code-bg-color: #EBEBEB;
$code-text-color: #414141;